$image-border: 0px;
$section-border: .5px solid #bbb;

$serif: 'Playfair Display', serif;
$sans-serif: 'Roboto', sans-serif;

$letter-spacing: .2rem;

$background-color: #FFF8F0;
$gold: #be9b7b;
$white: #fff;
$black: #000;
