$image-border: 2px solid #000;
$section-border: .5px solid #bbb;

$serif: 'Playfair Display', serif;
$sans-serif: 'Roboto', sans-serif;

$letter-spacing: .2rem;

$background-color: #fff;
$gold: #c1b497;
$white: #fff;
$black: #000;
